<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间是对应接口的包名+类名 -->
<mapper namespace="com.liu.mvc.dao.diary.DiaryMapper">

    <!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.liu.mvc.pojo.Diary">
		<result column="id" property="id" />
		<result column="studyTime" property="studyTime" />
		<result column="studyContent" property="studyContent" />
		<result column="sportsTime" property="sportsTime" />
		<result column="sportsContent" property="sportsContent" />
		<result column="BadHabits" property="BadHabits" />
		<result column="sleepTime" property="sleepTime" />
		<result column="healthStatus" property="healthStatus" />
		<result column="appetite" property="appetite" />
		<result column="faceWash" property="faceWash" />
		<result column="brushTooth" property="brushTooth" />
		<result column="create_time" property="create_time" />
		<result column="sentiment" property="sentiment" />
		<result column="aijiuTime" property="aijiuTime" />
		<result column="yy" property="yy" />
		<result column="mm" property="mm" />
		<result column="dd" property="dd" />
	</resultMap>
    
    <sql id="Base_Column_List">
		id,studyTime,studyContent,sportsTime,sportsContent,BadHabits,sleepTime,healthStatus,appetite,faceWash,brushTooth,create_time,sentiment,aijiuTime,yy,mm,dd
	</sql>
	
	<select id="selectDiary"   resultMap="BaseResultMap" resultType="com.liu.mvc.pojo.Diary">
		select
		<include refid="Base_Column_List" />
		from diary
	</select>
	
	
	
	<insert id="insertDiary"  parameterType="Diary">
	  INSERT INTO diary (id,studyTime,studyContent,sportsTime,sportsContent,BadHabits,sleepTime,healthStatus,appetite,faceWash,brushTooth,create_time,sentiment,aijiuTime,yy,mm,dd)VALUES
	 (#{id}, #{studyTime},#{studyContent},#{sportsTime},#{sportsContent},#{BadHabits},#{sleepTime},#{healthStatus},#{appetite},#{faceWash},#{brushTooth},#{create_time},#{sentiment},#{aijiuTime},#{yy},#{mm},#{dd})  
	</insert>
	
	
	<update id="updateDiary"  parameterType="Diary">
	      UPDATE diary  
	       <set>   
	        studyTime = #{studyTime} ,
	        studyContent = #{studyContent},
	        sportsTime = #{sportsTime},
	        BadHabits = #{BadHabits},
	        sleepTime = #{sleepTime},
	        healthStatus = #{healthStatus},
	        appetite = #{appetite},
	        faceWash = #{faceWash},
	        brushTooth = #{brushTooth},
	        sentiment = #{sentiment},
	        aijiuTime = #{aijiuTime},
	    </set>   
	      WHERE 
	      id = #{id}
	</update>
	
	<delete id="deleteDiary" parameterType="String">
		DELETE FROM diary 
		WHERE id = #{id}
	</delete>
	
	
	
	
	
	
</mapper> 