<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间是对应接口的包名+类名 -->
<mapper namespace="com.liu.mvc.dao.role.RoleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="role" >
			<id column="rid" property="rid" />
			<result column="rolename" property="rolename" />
			<result column="roleCode" property="roleCode" />
			<result column="description" property="description" />
			<result column="available" property="available" />
			<collection property="perList" ofType="com.liu.mvc.pojo.Perm" javaType="ArrayList">
				<id column="peid" property="peid" />
				<result column="code" property="code" />
				<result column="permissionName" property="permissionName" />
				<result column="url" property="url" />
				<result column="type" property="type" />
				<result column="pCode" property="pCode" />
				<result column="available" property="available" />
			</collection>
			<collection property="UserList" ofType="com.liu.mvc.pojo.User" javaType="ArrayList">
				<id column="uid" property="uid" />
				<result column="username" property="username" />
				<result column="password" property="password" />
				<result column="salt" property="salt" />
			</collection>
		</resultMap>
	
    
  	<select id="getRoleList" parameterType="String"  resultMap="BaseResultMap">
		   SELECT
					r.rid,
					r.roleCode,
					r.rolename,
					r.available,
					r.description,
					p.`code`,
					p.permissionName,
					p.available,
					p.url,
					p.type,
					p.pCode,
					u.username
			FROM
				t_role as r
			LEFT JOIN t_role_per as rp ON rp.role_id=r.rid
			LEFT JOIN  t_permission as p ON p.peid=rp.per_id
			LEFT JOIN t_user_role as ur ON ur.role_id=r.rid
			LEFT JOIN t_user as u ON u.uid=ur.user_id
  			WHERE
  			 1=1		 
  			<if test="rolename!='' and rolename!=null">
  				AND r.rolename=#{rolename}
  			</if>
  	</select>
	
</mapper> 