<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间是对应接口的包名+类名 -->
<mapper namespace="com.liu.mvc.dao.user.UserMapper">
		<resultMap id="BaseResultMap" type="user" >
			<id column="uid" property="uid" />
			<result column="username" property="username" />
			<result column="password" property="password" />
			<result column="salt" property="salt" />
			<result column="is_Banning" property="is_Banning" />
			<collection property="roleList" ofType="com.liu.mvc.pojo.Role" javaType="ArrayList">
				<id column="rid" property="rid" />
				<result column="rolename" property="rolename" />
				<result column="description" property="description" />
				<result column="available" property="available" />
			</collection>
		</resultMap>
		
  			
  		<select id="getUser" parameterType="User"  resultType="User">
  			SELECT uid,username,password,salt
  			FROM
  			t_user
  			WHERE
  			 1=1		 
  			<if test="username!='' and username!=null">
  				AND username=#{username}
  			</if>
  			<if test="password!='' and password!=null">
  				AND password=#{password}
  			</if>
  		</select>
  		
  			
  		<select id="getUserList" parameterType="String"  resultMap="BaseResultMap">
			SELECT
				u.uid,
				u.username,
				u.PASSWORD,
				u.salt,
				u.is_Banning,
			    r.rid,
				r.rolename,
				r.available,
				r.description
			FROM
				t_user as u
			LEFT JOIN t_user_role as ur  ON ur.user_id=u.uid
			LEFT JOIN t_role as r ON ur.role_id=r.rid
  			WHERE
  			 1=1		 
  			<if test="username!='' and username!=null">
  				AND u.username=#{username}
  			</if>
  		</select>
  		
  		
  		<insert id="addUser" parameterType="User">
  			 INSERT INTO t_user (id,username,password,salt) VALUES(#{id},#{username},#{password},#{salt})
  		</insert>

</mapper> 