
.RecordType{
  font-size: 20px;
  font-family: "微软雅黑";
  color: #666666;
  height: 30px;
  line-height: 30px;
  margin:0 auto;
}
.circle{
  width: 30px; 
  height: 30px;
  float: left;
  border-radius: 50%;
  background:#99CC33;
  font-size: 17px;
  color: #FFFFFF;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%;
  line-height: 30px;
  text-align: center;
}
.title{
  float: left;
  margin-left: 7px;
  margin-bottom: 3px;
  height: 30px;
  line-height: 30px;
}
.xian{
  height: 2px;
  width: 100%;
  background-color: #99CCFF;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

nz-input-number {
  margin-right: 8px;

}

textarea#styled{
  font-family: Tahoma, sans-serif;

  width: 90%;
  height: 200px;
  padding: 5px;

  border: 3px solid #ccc;
 /* background-image: url(bg.gif); */

  background-repeat: no-repeat;
  background-position: bottom right;
}


/* ==================================== */
