



 <nz-layout>

 <nz-content>
<!-- 搜索框及按钮 --> 
<div style="margin-top: 12px;margin-bottom: 12px;" (keydown)="keydown($event)">
  <input nz-input [(ngModel)]="searchText" name="searchText" style="width: 250px;" >
  <button nz-button (click)="query()"  [nzType]="'primary'">搜索</button>
  <button nz-button (click)="jumpHandle()">添加</button>
</div>
  <nz-card>
    <st #st [data]="data" [columns]="columns"></st>
  </nz-card>
 </nz-content>
</nz-layout>




<!-- 新增用户弹出框 -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="每日生活记录" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <nz-form-item>
    <nz-form-label >学习时间</nz-form-label>
    <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzShowTime></nz-range-picker>

    <nz-form-label style="margin-bottom: 20px;">学习内容</nz-form-label>
    <textarea  class="textarea" style="width:75%;margin-top: 12px;margin-bottom: 12px;"  rows="2" nz-input [(ngModel)]="studyContent"></textarea>
    
    <nz-form-label >健身时间</nz-form-label>
    <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzShowTime></nz-range-picker>

    
    <nz-form-label >健身项目</nz-form-label>
    <textarea  class="textarea" style="width:75%;margin-top: 12px;"  rows="2" nz-input [(ngModel)]="inputValue"></textarea>

  </nz-form-item>
</nz-modal>