



 <nz-layout>

 <nz-content>
<!-- 搜索框及按钮 --> 
<!-- <div style="margin-top: 12px;margin-bottom: 12px;" (keydown)="keydown($event)">
  <input nz-input [(ngModel)]="searchText" name="searchText" style="width: 250px;" >
  <button nz-button (click)="query()"  [nzType]="'primary'">搜索</button>
  <button nz-button (click)="jumpHandle()">添加</button>
</div> -->
  <!-- <nz-card>
    <st #st [data]="data" [columns]="columns" ></st>
  </nz-card> -->

<nz-alert nzMessage="Your selected date: {{ selectedValue | date: 'yyyy-MM-dd' }}"></nz-alert>
<div style="width: 100%;height: 100%;" >
    <nz-calendar [(ngModel)]="selectedValue" (nzSelectChange)="selectChange($event)">
        <ul *nzDateCell="let date" class="events"  >    
          <div *ngFor="let item of data">
              <ng-container [ngSwitch]="date.getFullYear()">
                  <ng-container *ngSwitchCase="item.yy">
                      <ng-container [ngSwitch]="(date.getMonth()+1)">
                          <ng-container *ngSwitchCase="item.mm">
                              <ng-container [ngSwitch]="date.getDate()">
                                  <ng-container *ngSwitchCase="item.dd">
                                        
                                     {{date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate()}}
                                          
                          </ng-container>           
                        </ng-container> 
                      </ng-container>           
                    </ng-container> 
                  </ng-container>           
                </ng-container> 
          </div>     
    
        </ul>
    </nz-calendar>
</div>
 </nz-content>
</nz-layout>



